<div class="container-fluid">
  <form class="text-bg-dark d-grid gap-2 mt-4">
    <div class="mb-3">
      <label for="cadastroUsername" class="form-label">Nome de Usuário</label>
      <input
        type="text"
        class="form-control"
        id="cadastroUsername"
        [(ngModel)]="username"
      />
    </div>
    <div>
      <label for="cadastroEmail" class="form-label">Endereço de Email</label>
      <input
        type="email"
        class="form-control"
        id="cadastroEmail"
        aria-describedby="emailHelp"
        [(ngModel)]="email"
      />
      <div id="emailHelp" class="form-text" style="color:#808080">
        Nunca compartilharemos seu e-mail com mais ninguém.
      </div>
    </div>
    <div class="mb-4">
      <label for="cadastroPassword" class="form-label">Senha</label>
      <input
        type="password"
        class="form-control"
        id="cadastroPassword"
        [(ngModel)]="password"
      />
    </div>
    <div class="d-grid gap-2"></div>
    <button type="submit" class="btn btn-primary mb-4" (click)="signup()">
      Cadastrar
    </button>
  </form>
</div>
