/* .btn-primary {
  background: #fbb034;
  background: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  border: none;
  color: #000;
}

.btn-primary:hover {
  background: #fbb034;
  background: linear-gradient(315deg, #ffdd00 0%, #fbb034 74%);
  border: none;
  color: #000;
} */

a {
  text-decoration: none;
  color: #fbb034 ;
}
