<div class="container">
  <h1>CADASTRO VEÍCULO</h1>
  <form class="text-bg-dark d-grid gap-2 mt-4 formulario">
    <div class="mb-3">
      <label for="marcaVeiculo" class="form-label">Marca</label>
      <input type="text" id="marcaVeiculo" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="modeloVeiculo" class="form-label">Modelo Veículo</label>
      <input type="text" id="modeloVeiculo" class="form-control" />
    </div>
    <div class="mb-4">
      <label for="anoVeiculo" class="form-label">Digite o Ano do Veículo</label>
      <input type="number" class="form-control" id="anoVeiculo" />
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary mb-4">Cadastrar</button>
    </div>
  </form>
</div>
