/* Add application styles & imports to this file! */
body {
  background-color: #111111;
}
a {
  text-decoration: none;
  color: #fbb034;
}

.btn-primary {
  color: #000;
  background-color: #fbb034;
  border: none;
}
.btn-primary:hover {
  color: #000;
  background-color: #f2cb05;
  border: none;
}

.modal {
  background-color: #000;
}

.footer {
  background-color: #111111;
  position: fixed;
  bottom: 0;
  padding: 20px;
}
