<div class="container-fluid">
  <h1>BEM VINDO</h1>
  <p></p>
  <div class="row">
    <div class="col">
      <a
        class="btn btn-primary mb-4"
        role="button"
        [routerLink]="['/cadastro-veiculo']"
        >Cadastrar</a
      >
    </div>
    <div class="col">
      <a
        class="btn btn-primary mb-4"
        role="button"
        [routerLink]="['/editar-veiculo']"
        >Editar Veiculo</a
      >
    </div>
    <div class="col">
      <a
        class="btn btn-primary mb-4"
        role="button"
        [routerLink]="['/verificar-pecas']"
        >Verificar Peças</a
      >
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
